@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
    font-family: 'Lato', sans-serif;
}
.file-drop-area {
    border: 1px dashed black;
    border-radius: 3px;
    position: relative;
    width: 450px;
    max-width: 100%;
    margin: 0 1%;
    padding: 26px 20px 30px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.fake-btn {
    background-color: #4285F4;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    color:white;
    padding: 8px 15px;
    margin-right: 8px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 130px);
    vertical-align: middle;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.file-input:focus {
    outline: none;
}
